.jumbotron {
    background-color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#startScreen {
    display: block
}

#questions {
    display: none
}

.btn {
    margin: 10px 10px;
}

.top {
    margin: 10px 10px;
    font-size: 20px;
}